<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duyell.mapper.CourseMapper">
    <update id="update">
        update course
        <set>
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="teacherId != null and teacherId != ''">
                teacher_id = #{teacherId},
            </if>
            <if test="collegeId != null  ">
                college_id = #{collegeId},
            </if>
            <if test="term != null and term != ''">
                term = #{term},
            </if>
            <if test="credit != null">
                credit = #{credit},
            </if>
            <if test="classHour != null ">
                classHour = #{classHour},
            </if>
            <if test="maxStudent != null ">
                maxStudent = #{maxStudent},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByIds">
        delete from course where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="list" resultType="com.duyell.Course">
        select c.*, t.teacher_name as teacherName, t.college_id as collegeId, co.college_name as collegeName from course c
        left join teacher t on c.teacher_id = t.teacher_id
        left join college co on t.college_id = co.id
        <where>
            <if test="courseName != null and courseName != ''">
                and course_name like concat('%',#{courseName},'%')
            </if>
            <if test="teacherName != null and teacherName != ''">
                and t.teacher_name like concat('%',#{teacherName},'%')
            </if>
            <if test="teacherId != null and teacherId != ''">
                and c.teacher_id = #{teacherId}
            </if>
            <if test="collegeId != null  ">
                and c.college_id = #{collegeId}
            </if>
            <if test="credit != null">
                and c.credit = #{credit}
            </if>
            <if test="classHour != null ">
                and c.class_hour = #{classHour}
            </if>
            <if test="maxStudent != null ">
                and c.max_student &lt;= #{maxStudent}
            </if>
        </where>
    </select>
</mapper>