<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duyell.mapper.MajorMapper">
    <update id="update">
        update major
        <set>
            <if test="majorName != null and majorName != ''">
                major_name = #{majorName},
            </if>
            <if test="collegeId != null ">
                college_id = #{collegeId},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="list" resultType="com.duyell.Major">
        select * from major
        <where>
            <if test="majorName != null and majorName != ''">
                major_name like concat('%',#{majorName},'%')
            </if>
            <if test="collegeId != null ">
                and college_id = #{collegeId}
            </if>
        </where>
    </select>
</mapper>